<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Occupancy Details</h5>
              <div class="card">
                <div class="card-body">
                  <form method="post" action="{% url 'updatedetails' Uid=data.id %}">
                       {% csrf_token %}

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name of occupancy </label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name"  aria-describedby="emailHelp" required name="name" value="{{data.name}}">
                    </div><br>

                     <div class="form-group">
                      <label for="exampleInputEmail1" class="form-label"> Description </label>
                      <textarea  class="form-control" id="exampleTextarea1" rows="4" placeholder="Description" required name="description">{{data.description}}</textarea>
                    </div><br>

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Price</label>
                      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Price" name="price" required  value="{{data.price}}">
                    </div><br>


                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Advance Price</label>
                      <input type="number" class="form-control" id="exampleInputPsword1" name="advprice"  placeholder="Adv Price" required value="{{data.advprice}}">
                    </div><br>

                    <div class="form-group">

                       <label for="exampleInputPassword1" class="form-label">Room Image 1</label>

                      <input type="file" class="form-control" placeholder=" Image" name="roomimage1" required value="{{data.roomimage1}}">
                    </div><br><br>

                    <div class="form-group">

                       <label for="exampleInputPassword1" class="form-label">Room Image 2</label>

                      <input type="file" class="form-control" placeholder=" Image" name="roomimage2" required value="{{data.roomimage2}}">
                    </div><br><br>


                    <div class="form-group">

                       <label for="exampleInputPassword1" class="form-label">Room Image 3</label>

                      <input type="file" class="form-control" placeholder=" Image" name="roomimage3" required value="{{data.roomimage3}}">
                    </div><br><br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>

            </div>
          </div>


</body>
</html>
{% endblock %}
